.header {
  position: relative;
  color: $white;
  background: {
    repeat: no-repeat;
    position: 50% 0;
    size: cover;
  }

  &-container {
    min-height: 55vh;
    position: relative;
    z-index: 2;
  }

  .page-title {
    font-size: $font-size-base * 2.25;
    font-weight: 600;
  }

  @include media-breakpoint-down(lg) {
    & {
      background: {
        attachment: fixed;
      }
    }
  }
}
