.scroll-to {
  position: fixed;
  right: 25px;
  bottom: -50px;
  z-index: 100;
  width: 2.25rem;
  height: 2.25rem;
  background-color: $primary;
  border-radius: 50%;
  transition: 0.3s ease-out;
  opacity: 0.5;
  cursor: pointer;
  filter: gray;
  -webkit-filter: grayscale(50%);

  &-item {
    color: $light;
    font-size: 1.75rem;
  }

  &:hover {
    filter: gray;
    -webkit-filter: grayscale(0%);
    opacity: 1;
  }

  &.show {
    bottom: 1rem;
  }
}
