/* ----------------------------------
  Hero Image
------------------------------------ */
.hero-img {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

/* ----------------------------------
  Overlays
------------------------------------ */
.overlay {
  position: relative;

  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    content: "";
  }

  &--dark::after {
    background-color: rgba($dark, 0.5);
  }
  &--light::after {
    background-color: rgba($white, 0.5);
  }

  &__inner {
    position: relative;
    z-index: 1;
  }
}
